<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="width: 70%; min-height: 500px; margin: 0 auto; border: 1px solid;">
        <div style=" margin: 8px; border-bottom:1px solid gray;">
            <img style="max-width: 120px; max-height: 120px;" src="https:localhost:5050/api/v1/images?name=Bitkai_logo.png">
        </div>
        <h2 style="  color: #f59e0b; font-size: 24px; width: 100%; text-align: center;">
            Verify Your Email Address
        </h2>
        <div style=" margin:0 auto;  flex-direction: row; justify-content: center; align-items: center; display: flex;">
            <img style=" max-width:300px; max-height:300px;" src="https://localhost:5050/api/v1/images?name=egg_register.png">
        </div>
        <p style="padding: 18px; width: 100%;" >
            To finish setting up your free Bitkai account. please confirm that this
            email address is yours by clicking the button below.
        </p>
        <div style=" display: flex; justify-content: center; width: 100%;">
            <a href={{.Url}} style="width: 100%;">
                <button style="margin: 12px; background-color: #f59e0b; width: 95%; height: 50px;">
                    <span style=" color: white;">
                        Verify Email Address
                    </span>
                </button>
            </a>
        </div>
    </div>
</body>
</html>